{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts/home_style.css' %}">
<div class="welcome-container">
    <h1>Добро пожаловать в библиотеку!</h1>
    <div class="welcome-text">
        {% if user.is_authenticated %}
            <p>Вы вошли как <strong>{{ user.username }}</strong>.</p>
            <a href="{% url 'dashboard' %}" class="btn">Перейти в личный кабинет</a>
        {% else %}
            <p>Присоединяйтесь к нам!</p>
            <div class="auth-links">
                <a href="{% url 'login' %}" class="btn">Войти</a>
                <a href="{% url 'register' %}" class="btn btn-secondary">Зарегистрироваться</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
