{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/accounts/login_style.css' %}">
<h1>Регистрация</h1>

<form method="post" class="login-form">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group {% if 'password' in field.name %}password-toggle{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            <div class="input-wrapper">
                {{ field }}
                {% if field.name == 'password1' %}
                    <i class="fa fa-eye" id="togglePassword1"></i>
                    <script>document.getElementById("{{ field.auto_id }}").setAttribute("id", "password1");</script>
                {% elif field.name == 'password2' %}
                    <i class="fa fa-eye" id="togglePassword2"></i>
                    <script>document.getElementById("{{ field.auto_id }}").setAttribute("id", "password2");</script>
                {% endif %}
            </div>
            {% if field.errors %}
                <div class="error-message">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="btn">Зарегистрироваться</button>
</form>

<p class="register-link">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>

<script src="{% static 'js/accounts/register.js' %}"></script>

{% endblock %}
